<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>
    <style>
        #div1{
            background-color: rgba(255, 0, 0,.5);
            padding: 10px;
            width: 90%;
            
            position: relative;
        }
        #div2{
            background-color: rgba(0,255,0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position:relative;
        }
        #div3{
            background-color: rgba(0, 0, 255, 0.537);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 20px;
            top: 0px;
        }
    </style>   
</head>
<body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">
                3
            </div>
        </div>
    </div>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio ipsa consequuntur? Odit laudantium hic facere perferendis voluptatem deleniti dolores sint neque minus optio, deserunt, eaque nisi, saepe aut dicta!</p>
</body>
</html>