@charset "UTF-8";
a[target="_blank"]::after{
    content: url(imagem/newWindow-icon.png);
    display: inline-block; 
    margin-left: 7px;
    width: 2px;
    height: 2px;
}
a[href$=".pdf"]::before{
    content: url(imagem/pdf-icon.gif);
    margin-right: 7px;
}
input[type="checkbox"]:checked + label{
    color: green;
}

input[type="checkbox"]:disabled + label{
    color: rgb(0, 11, 128);
}
input[type="checkbox"]:not(:disabled) + label{
    color: rgb(128, 0, 0);
}
 li li:nth-child(3) {
    background-color: rgb(224, 187, 0);
}