@charset "UTF-8";
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    border: 2px solid #999;
}
.card_header img{
    display: block;
    width: 100%;
    max-height: 10em;
    object-fit: cover;
    object-position: center;
}
.card_body{
    padding: 1em;
    box-sizing: border-box;
    background-color: #ccc;
}
.card_btn{
    text-decoration: none;
    text-transform: uppercase;
    background-color: darkslategrey;
    padding: .5em .75em;
    color: white;
    border-radius: .5em;
    display: inline-block;
}