@charset "UTF-8";
body{
    margin: auto;
    margin-bottom: 40px; 
    width: 80%;
    background-color: aliceblue
    
}
h1{
    text-align: center;
    color: #262801;
    background-color: #afad70;
    margin-bottom: 0px;
    font-size: 2.5rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px;
}
h2{
    font-size: 2rem;
    color: #262801;
    background-color: #afad70;
    padding: 5px;
    border-radius: 10px;
    border-bottom: 3px solid #2b0c0c;
    
}
p{
    font-size: 1.1em;
    color: #565555;
    
}
#p1{
    text-align: center;
    background-color: #afad70;
    margin: 0px;
    border-bottom: 3px solid #2b0c0c;
    border-bottom-right-radius:8px ;
    border-bottom-left-radius:8px;
}
ol{
    padding: 0px;
}
ol#menu{
    text-align: right;
}
#menu li{
    margin: 5px;
    display: inline-block;
    padding: 15px;
    background-color: #262801;
    border-radius:  10px; 
    
}
#menu a{
    color: white;
}
#menu a:hover{
    color: #262801;
    transition-duration: 0.3s;
    text-decoration: underline;
    padding: 5px;
}
#menu li:hover{
    color: #262801;
    background-color: white;
    transition-duration: 0.5s;
}
li{
    text-align: left;
    list-style-type:none;
    list-style-position: inside;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #3b5e6f;
}
a:visited{
    color: #680808;
}
a:active{
   color: rgb(81, 95, 23); 
}