@charset "UTF-8";
body{
    margin: auto;
    margin-bottom: 40px; 
    width: 80%;
    background-color: aliceblue
    
}
h1{
    text-align: center;
    color: #262801;
    background-color: #afad70;
    margin-bottom: 0px;
    border-bottom: 3px solid #2b0c0c;
    font-size: 2.5rem;
    border-radius: 10px;
    padding: 10px;
}
h2{
    font-size: 2rem;
    color: #262801;
    background-color: #afad70;
    padding: 5px;
    border-radius: 10px;
    border-bottom: 3px solid #2b0c0c;
}
p{
    font-size: 1.1em;
    color: #565555;
}
#p1{
    text-align: center;
}
ol{
    padding: 0px;
}
li{
    text-align: left;
    list-style-type:none;
    list-style-position: inside;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #3b5e6f;
}
a:visited{
    color: #680808;
}
a:active{
   color: rgb(81, 95, 23); 
}