@charset "UTF-8";
:root{
    --primary-color: #612674;
    /* --default-gap: 1em; */
}
html{
    font-family: sans-serif;
}
body{
    margin: 0;
}
.maxWidth{
    max-width: 70.25em;
    margin: auto;
}
.nav-content {
    margin-top: .8em;
    display: flex;
    flex-direction: column;
    
}
.top_header_logo{
    height: 3em;
    object-fit: scale-down;
}
.list-content{
    list-style-type: none;
    background-color: var(--primary-color);
    padding-left: 0;
    margin: 0;
    margin-top: .5em;
}
.list-content a{
    display: block;
    padding: 1em;
    text-align: center
}
li > a{
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: color-mix(in srgb, var(--primary-color), white 10%);
}
@media screen and (min-width: 48.75em){
    .nav-content{
        flex-direction: row;
        justify-content: space-between;
        margin-top: .3em;
    }
    .top_header_logo{
        height: 4em;
        padding-left: .8em;
    }
    .list-content{
        background-color: transparent;
    }
    .list-content li{
        display: inline-block;
        
    }
    li >a{
        color: var(--primary-color);
        font-size: 1em;
    }
    a:hover {
        background-color: color-mix(in srgb, var(--primary-color), white 90%);
        border-radius: 1em;
    }
    
}
.icon-play{
    display: none;
}

.action-btn{
    color: white;
    text-decoration: none;
    display: block;
    background-color: rgb(49, 159, 159);
    padding: .8em 2em;
    border-radius: .5em;   
    width: 4em;
    margin: 1em auto 0;
}
.banner-title, .banner-secundary_title{
    text-align: center;
}
.banner-title{
    color: var(--primary-color);
    font-weight: 500;
}
.banner-secundary_title{
    font-size: 1em;
    width: 90%;
    margin: auto;
    color: color-mix(in srgb, var(--primary-color) , white 30%);
}
  /* Faz parte do HTML principal (main) - Esta parte abaixo
.hero-banner{
    background-color: var(--primary-color);
    padding-bottom: 1em;
    box-sizing: border-box;
}
.icon-play{
    width: 6em;
    padding-top: 1em;
    display: block;
    margin: auto;
}
.banner-title, .banner-secundary_title{
    color: white;
}
.banner-title{
    text-align: center;
}
.banner-secundary_title{
    font-size: 1em;
    margin: 2em 2em .5em 2em;
    text-align: center;
}*/


