:root{
    --primary-color: #e10f0f;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(72deg, blue, rgb(251, 0, 0)),url(imagens/tile.png);
    background-attachment: fixed,scroll;
    background-blend-mode:difference;
}

.cores{
    --teste:#f00;
    background-color: color-mix(in srgb, var(--teste), transparent);
    width: 80%;
    border: 8px dashed color-mix(in srgb, var(--primary-color), blue);
    margin: 20px auto;
    padding: 28px;
}
section{
    counter-reset: contador ;
}
.cores{
    counter-increment: contador;
}
.cores::before{
    content: "[ "counter(contador) " ]";
}
.cores p{
    margin: 0;
}
.cores:nth-of-type(2){
    background-color: rgb(244, 100, 100);
    background-clip: padding-box;
    color: white;
}
.cores:nth-of-type(3){
    background-color: hsl(30deg, 100%, 50%);
    box-shadow: 0 15px 6px -7px hsl(100deg,100%,30%) inset;
}
.cores:nth-of-type(3):hover{
    background-color: hsl(32deg, 68%, 44%);
}
.cores:nth-of-type(4){
    background-image: linear-gradient(70deg, blue, transparent), linear-gradient(to top, red, transparent);
    background-clip:content-box, padding-box ;
}
.cores:nth-of-type(5){
    background-image: radial-gradient(blue 30%,color-mix( in srgb,red, transparent), green 50%,yellow);
}
.cores:nth-of-type(6){
    background-image: radial-gradient(circle,blue 30%,color-mix( in srgb,red, transparent),green 50%,yellow);
}
.cores:nth-of-type(7){
    background-image: radial-gradient(circle,blue ,color-mix( in srgb,red, transparent),green ,yellow);
}
.cores:nth-of-type(8){
    background-image: radial-gradient(circle at 12%  50%, blue ,red 20%);
}