body {
    font-family: sans-serif;
    background-image: linear-gradient(72deg, blue, rgb(251, 0, 0)),url(imagens/tile.png);
    background-attachment: fixed,scroll;
    background-blend-mode:difference;
}

.cores{
    width: 80%;
    border: 8px dashed black;
    margin: 20px auto;
    padding: 28px;
}
section{
    counter-reset: contador ;
}
.cores{
    counter-increment: contador;
}
.cores::before{
    content: "[ "counter(contador) " ]";
}
.cores p{
    margin: 0;
}
