@charset "UTF-8";
:root{
    --primary-color:#ff7833;
    --secondary-color: #31333b;
    --text-color:#e7e7e7;
}
*{
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    color: var(--text-color);
    background-color: #ababad;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
}
h1{
    font-size: 4rem;
    color: #a9a7a7;
    margin: 2rem 0;
}
h2{
    padding-top: 3rem;
}
h3 + p{
    padding: 1.6rem 0;
}
h2, h3, h4, h5, h6{
    color: var(--primary-color);
    margin: 0;
}
.destaque{
    border-left: .2rem solid var(--primary-color);
    font-size: 1.7rem;
    padding-left: 2rem;
}
article{
    margin: 2.2rem 0;
}
p{
    padding: 1rem 0 ;
}
blockquote > p , blockquote > cite{
    padding-left: 2rem;
}
.pre-code{
    overflow-x: auto;

}
pre{
    inline-size: 15rem;
}
.underline{
    text-decoration: red wavy underline;
}
.main-content{
    background-color: #33363f;
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}
.header-content{
    flex: 0 0  26rem;
    background-color: var(--secondary-color);
}
.main-content, .header-content{
    font-size: 1.6rem;
}
.perfil-img{
    display: block;
    transform: translate(140%);
    max-width: 10rem;
    margin-top: 5rem;
    margin-bottom:3rem ;
}
a{
    color: inherit;
}
.main-list{
    list-style-type: none;
    padding-right: 1.5rem;
    
}
.main-list li{
    text-align: right;
    border-bottom: 2px solid rgb(167, 167, 167);

}
.main-list a{
    display: block;
    text-decoration: none;

    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.nav-content ul a:hover , .nav-content ul li:hover{
    display: block;
    background-color: #444856;
    padding-right: .8rem;
    transition: all 1s ease;
}
.nav-content ul a:focus , .nav-content ul li:focus{
    display: block;
    background-color: #444856;
    padding-right: .8rem;
    transition: all 1s ease;
}
