html{
   min-height: 100%;
}
body {
   background-image: linear-gradient(to  right, rgb(223, 226, 153), rgb(241, 241, 25));
   font-family: 'Montserrat', sans-serif;
}
#wrapper{
   width: 90%;
   max-width: 1340px;
   margin: auto;
}
header {
   padding: 30px 0;
}

main{
   display: flex;
   gap: 2rem;
}
main > *{
   flex: 1 0 0;
}
h1{
   font-size: 4em;
}
section p{
   font-weight: 300;
}
input{
   padding: .6em;
   border-radius: .5em;
   background-color: transparent;
   color: black;
   margin-top: .6em;
   font-family: inherit;
   border: 1px solid #28293e;
}
input[type="submit"]{
   background-color: rgb(16, 16, 78);
   color: white;
   border: 0;
   padding: 0.75em 1em;
   margin-left: 1em;
   cursor: pointer;
}
h1 strong{
   text-transform: uppercase;
   color: red;
}
.upper{
   text-transform: uppercase;
}
.animation{
   position: relative;
}
.animation img{
   position: absolute;
}
.hearth-emoji{
   width: 475px;
   animation: anda 4s infinite 1s alternate;
}
.smile-emoji{
   transform: translate(-68px, 170px);
   animation: anda 5s infinite 1s alternate;  
}
.espantado-emoji{
   transform: translate(260px, 280px);
   animation: anda 3s infinite 0s alternate;
}
.lingua-emoji{
   transform: translate(40px, -100px);
   animation: anda 3s infinite .5s alternate;
}
.riso-emoji{
   transform: translate(40px, 320px);
   animation: anda 4s infinite 1s alternate;
}
.vergonha-emoji{
   transform: translate(300px, 10px);
   animation: anda 4s infinite 2s alternate;
}
@keyframes anda{
   0%{
      top: 0;
      left: 0;
   }
   100%{
      top: 20px;
      left: 20px;
   }
}