@charset "UTF-8";
:root{
    --back-color:#162028;
    --color-text-menu:#425564;
    --text-color:#555;
    --cor-fundo-imagem:#003d52;
    --footer-color:#0b171f;
    --text-color-footer:#6f8597;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', Tahoma, sans-serif;
    width: 50rem;
}

.banner{
    background-image: url(../imagem/topo.jpg);
    background-size: cover;
    height: 30rem;
    display: flex;
}
.menu{
    background-color: var(--back-color);
    height: 4rem;
    width: 50rem;
}
.main-title{
    font-size: 2.3rem;
    font-family: 'Viaoda Libre';
    font-weight: normal;
    color: white;
    display: flex;
    margin-left: 1rem;
}
.main-menu{
    list-style-type: none;
    display: flex;
}