@charset "UTF-8";
:root{
    --back-color:#162028;
    --color-text-menu:#425564;
    --text-color:#555;
    --cor-fundo-imagem:#003d52;
    --footer-color:#0b171f;
    --text-color-footer:#6f8597;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', Tahoma, sans-serif;
    width: 32rem;
    margin: 0 auto;
}

.banner{
    background-image: url(../imagem/topo.jpg);
    background-size: cover;
    height: 32rem;
}
.menu{
    background-color: var(--back-color);
    height: 4rem;
    width: 32rem;
    display:flex;
}
.main-title{
    font-size: 2rem;
    font-family: 'Viaoda Libre';
    font-weight: normal;
    color: white;
   margin-top: 1rem;
   margin-left: 1rem;
   margin-right: .4rem;
}
.main-menu{
    display: flex;
    list-style-type: none;
    color: var(--color-text-menu);
    gap: .8rem;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-top: 1.8rem;
}